Pillow==9.2.0
PyQt5==5.15.11
SpeechRecognition==3.10.4
gymnasium==1.0.0
langchain==0.2.16
langchain_community==0.2.16
langchain_core==0.2.39
matplotlib==3.5.2
mysql-connector-python==9.0.0
numpy==1.24.4
ollama==0.3.3
opencv-python==4.10.0.84
pandas==1.4.4
pyrealsense2==2.55.1.6486
requests==2.28.1
scikit-learn==1.6.1
scipy==1.9.1
stable-baselines3==2.4.0
ultralytics==8.3.121
urx==0.11.0
xgboost==2.1.4
